@model GymReservation.Models.GymService

@{
    ViewData["Title"] = "Yeni Hizmet Ekle";
}

<h1>Yeni Hizmet Ekle</h1>

<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="DurationMinutes" class="form-label"></label>
        <input asp-for="DurationMinutes" class="form-control" />
        <span asp-validation-for="DurationMinutes" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="FitnessCenterId" class="form-label">Salon</label>
        <select asp-for="FitnessCenterId" asp-items="ViewBag.FitnessCenters" class="form-control"></select>
    </div>


    <button type="submit" class="btn btn-success">Ekle</button>
    <a asp-action="Index" class="btn btn-secondary">Geri</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
