@model GymReservation.Models.FitnessCenter

@{
    ViewData["Title"] = "Salon Detay";
}

<h1>Salon Detay</h1>

<hr />
<dl class="row">
    <dt class="col-sm-2">Ad</dt>
    <dd class="col-sm-10">@Model.Name</dd>

    <dt class="col-sm-2">Adres</dt>
    <dd class="col-sm-10">@Model.Address</dd>
</dl>

<p>
    <a asp-action="Index" class="btn btn-secondary">Listeye Dön</a>
</p>
